/*h2{
	background-color:lightblue ;
	border:2px solid blue;
	padding-left:20px ;
	padding-right:50px ;
	padding-top:23px ;
	padding-bottom:40px;
	margin-top: 50px;
}
div#div1{
	border:2px solid black;
	margin:0px;
	/*width:500px;
	height: 200px;*/
}
/*.para1{
	width:200px;
	height:200px;
	background-color:grey ;
	border:3px dashed grey;
	padding:5px;
}
.para2{
	width:100px;
	height:100px;
	background-color:yellow;
	border:3px ridge green;
	padding:5px;
	margin:20px;
}*/
h2{
	background-color:red;
	padding:0px;
}
div{
	position:relative;
	left:30px;
	top:0px;
}